export DEEPSEEK_API_KEY=$(pass langchain/deepseek)
export GOOGLE_API_KEY=$(pass langchain/gemini)

export LANGSMITH_TRACING=true
export LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
export LANGSMITH_API_KEY=$(pass langchain/langsmith)
export LANGSMITH_PROJECT="langchain-learning"

