export DEEPSEEK_API_KEY=$(pass langchain/deepseek)
export GOOGLE_API_KEY=$(pass langchain/gemini)
export LITELLM_VIRTUAL_KEY=$(pass langchain/litellm)
export DB_URL=$(pass langchain/supabase)

export LANGSMITH_TRACING=false
export LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
export LANGSMITH_API_KEY=$(pass langchain/langsmith)
export LANGSMITH_PROJECT="langchain-learning"

